#container
  #item
    #headline
      h1 Conectando...
      h2#source
    #stats
      .stat
        p#total.count #{allCount}
        p Total headlines
      .stat
        p#grim_count.count #{grimCount}
        p Grim headlines
      .stat
        p#percentage.count 
        p Percentage
      
      .clear
      
  #canvas(style="width:700px;height:300px")

  #sources
    h3 Fuentes
    ul
      - each source in sources
        li
          a(href=source.url)=source.name
      
  #about
    h3 About
    p 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
      | irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
      | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
      | deserunt mollit anim id est laborum.

script(type="text/javascript", src="/comet.js")
script(type="text/javascript", src="js/jquery.js")
script(type="text/javascript", src="js/flot.js")
script(type="text/javascript", src="js/grim.js")
script(type="text/javascript", src="js/app.js")
